In [1]:
TSMC <- c(189,191,193,192,195)
HTC  <- c(800,752,750,630,500)
stocks <- c(TSMC,HTC)
stock.matrix <- matrix(stocks,byrow = T,nrow = 2)
print(stock.matrix)

     [,1] [,2] [,3] [,4] [,5]
[1,]  189  191  193  192  195
[2,]  800  752  750  630  500

In [2]:
days <- c('Mon','Tue','Wed','Thu','Fri')
st.names <- c('TSMC','HTC')
colnames(stock.matrix) <- days
rownames(stock.matrix) <- st.names

In [3]:
stock.matrix

     Mon Tue Wed Thu Fri
TSMC 189 191 193 192 195
HTC  800 752 750 630 500

In [5]:
colSums(stock.matrix)

Mon Tue Wed Thu Fri
989 943 943 822 695

In [6]:
rowSums(stock.matrix)

TSMC  HTC
 960 3432

In [7]:
rowMeans(stock.matrix)

 TSMC   HTC
192.0 686.4

In [8]:
APP <- c(344,356,346,352,355)
tech_stock <- rbind(stock.matrix,APP)  # rbind > row bind

In [10]:
tech_stock
# Notice that the parameter name is the row name

     Mon Tue Wed Thu Fri
TSMC 189 191 193 192 195
HTC  800 752 750 630 500
APP  344 356 346 352 355

In [11]:
avg <- rowMeans(tech_stock)
avg

 TSMC   HTC   APP
192.0 686.4 350.6

In [12]:
tech_stock <- cbind(tech_stock,avg)

In [13]:
tech_stock

     Mon Tue Wed Thu Fri avg
TSMC 189 191 193 192 195 192.0
HTC  800 752 750 630 500 686.4
APP  344 356 346 352 355 350.6