In [1]:
days <- c('Mon','Tue','Wed','Thu','Fri')
temp <- c(22.2,21,23,24,25)
rain <- c(T,T,F,T,F)
df <- data.frame(days,temp,rain)

In [2]:
df

  days temp rain
1 Mon  22.2  TRUE
2 Tue  21.0  TRUE
3 Wed  23.0 FALSE
4 Thu  24.0  TRUE
5 Fri  25.0 FALSE

In [3]:
df[1,]

  days temp rain
1 Mon  22.2 TRUE

In [4]:
df[,3]

[1]  TRUE  TRUE FALSE  TRUE FALSE

In [5]:
df[,1]

[1] Mon Tue Wed Thu Fri
Levels: Fri Mon Thu Tue Wed

In [6]:
df[,'rain']

[1]  TRUE  TRUE FALSE  TRUE FALSE

In [8]:
df[1:5,c('days','temp')]

  days temp
1 Mon  22.2
2 Tue  21.0
3 Wed  23.0
4 Thu  24.0
5 Fri  25.0

In [9]:
df$days      # Vector

[1] Mon Tue Wed Thu Fri
Levels: Fri Mon Thu Tue Wed

In [10]:
df$temp

[1] 22.2 21.0 23.0 24.0 25.0

In [11]:
df['days']   # Data Frame format

  days
1 Mon
2 Tue
3 Wed
4 Thu
5 Fri

In [12]:
subset(df,subset = rain == T)

  days temp rain
1 Mon  22.2 TRUE
2 Tue  21.0 TRUE
4 Thu  24.0 TRUE

In [13]:
subset(df,subset = temp>23)

  days temp rain
4 Thu  24    TRUE
5 Fri  25   FALSE

In [14]:
sorted_temp <- order(df['temp'])

In [15]:
sorted_temp

[1] 2 1 3 4 5

In [17]:
df[sorted_temp,]

  days temp rain
2 Tue  21.0  TRUE
1 Mon  22.2  TRUE
3 Wed  23.0 FALSE
4 Thu  24.0  TRUE
5 Fri  25.0 FALSE

In [18]:
desc_temp <- order(-df['temp'])

In [19]:
desc_temp

[1] 5 4 3 1 2

In [21]:
df[desc_temp,]

  days temp rain
5 Fri  25.0 FALSE
4 Thu  24.0  TRUE
3 Wed  23.0 FALSE
1 Mon  22.2  TRUE
2 Tue  21.0  TRUE

In [22]:
desc_temp <- order(-df$temp)

In [23]:
df[desc_temp,]

  days temp rain
5 Fri  25.0 FALSE
4 Thu  24.0  TRUE
3 Wed  23.0 FALSE
1 Mon  22.2  TRUE
2 Tue  21.0  TRUE