In [1]:
empty <- data.frame()

In [2]:
c1 <- 1:10

In [3]:
c1

 [1]  1  2  3  4  5  6  7  8  9 10

In [4]:
letters

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [5]:
c2 <- letters[1:10]

In [6]:
c2

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

In [7]:
df <- data.frame(col.name.1 = c1, col.name.2 = c2)

In [8]:
df

   col.name.1 col.name.2
1   1         a
2   2         b
3   3         c
4   4         d
5   5         e
6   6         f
7   7         g
8   8         h
9   9         i
10 10         j

In [9]:
# Read csv
# df <- read.csv('saved_df.csv')
# Write csv
# write.csv(df,file = 'saved_df.csv')

In [10]:
write.csv(df,file = 'test.csv')

In [11]:
df2 <- read.csv('test.csv')

In [13]:
df2

   X  col.name.1 col.name.2
1   1  1         a
2   2  2         b
3   3  3         c
4   4  4         d
5   5  5         e
6   6  6         f
7   7  7         g
8   8  8         h
9   9  9         i
10 10 10         j

In [14]:
df

   col.name.1 col.name.2
1   1         a
2   2         b
3   3         c
4   4         d
5   5         e
6   6         f
7   7         g
8   8         h
9   9         i
10 10         j

In [15]:
nrow(df)

[1] 10

In [16]:
ncol(df)

[1] 2

In [17]:
colnames(df)

[1] "col.name.1" "col.name.2"

In [18]:
rownames(df)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10"

In [19]:
str(df)

'data.frame':	10 obs. of  2 variables:
 $ col.name.1: int  1 2 3 4 5 6 7 8 9 10
 $ col.name.2: Factor w/ 10 levels "a","b","c","d",..: 1 2 3 4 5 6 7 8 9 10

In [20]:
summary(df)

   col.name.1      col.name.2
 Min.   : 1.00   a      :1
 1st Qu.: 3.25   b      :1
 Median : 5.50   c      :1
 Mean   : 5.50   d      :1
 3rd Qu.: 7.75   e      :1
 Max.   :10.00   f      :1
                 (Other):4

In [21]:
df[[5,2]]  # Get the value

[1] e
Levels: a b c d e f g h i j

In [22]:
df[[5,'col.name.2']] # Data Frame!?

[1] e
Levels: a b c d e f g h i j

In [23]:
df[5,2]

[1] e
Levels: a b c d e f g h i j

In [24]:
df[[2,'col.name.1']] <- 666

In [25]:
df

   col.name.1 col.name.2
1    1        a
2  666        b
3    3        c
4    4        d
5    5        e
6    6        f
7    7        g
8    8        h
9    9        i
10  10        j

In [27]:
df[2,'col.name.1'] <- 777

In [28]:
df

   col.name.1 col.name.2
1    1        a
2  777        b
3    3        c
4    4        d
5    5        e
6    6        f
7    7        g
8    8        h
9    9        i
10  10        j

In [29]:
mtcars

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [30]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [31]:
mtcars$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [32]:
mtcars[,'mpg']

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [33]:
mtcars[,1]

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [34]:
mtcars[['mpg']]

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [35]:
mtcars['mpg'] # Data Frame

                    mpg
Mazda RX4           21.0
Mazda RX4 Wag       21.0
Datsun 710          22.8
Hornet 4 Drive      21.4
Hornet Sportabout   18.7
Valiant             18.1
Duster 360          14.3
Merc 240D           24.4
Merc 230            22.8
Merc 280            19.2
Merc 280C           17.8
Merc 450SE          16.4
Merc 450SL          17.3
Merc 450SLC         15.2
Cadillac Fleetwood  10.4
Lincoln Continental 10.4
Chrysler Imperial   14.7
Fiat 128            32.4
Honda Civic         30.4
Toyota Corolla      33.9
Toyota Corona       21.5
Dodge Challenger    15.5
AMC Javelin         15.2
Camaro Z28          13.3
Pontiac Firebird    19.2
Fiat X1-9           27.3
Porsche 914-2       26.0
Lotus Europa        30.4
Ford Pantera L      15.8
Ferrari Dino        19.7
Maserati Bora       15.0
Volvo 142E          21.4

In [36]:
mtcars[1]

                    mpg
Mazda RX4           21.0
Mazda RX4 Wag       21.0
Datsun 710          22.8
Hornet 4 Drive      21.4
Hornet Sportabout   18.7
Valiant             18.1
Duster 360          14.3
Merc 240D           24.4
Merc 230            22.8
Merc 280            19.2
Merc 280C           17.8
Merc 450SE          16.4
Merc 450SL          17.3
Merc 450SLC         15.2
Cadillac Fleetwood  10.4
Lincoln Continental 10.4
Chrysler Imperial   14.7
Fiat 128            32.4
Honda Civic         30.4
Toyota Corolla      33.9
Toyota Corona       21.5
Dodge Challenger    15.5
AMC Javelin         15.2
Camaro Z28          13.3
Pontiac Firebird    19.2
Fiat X1-9           27.3
Porsche 914-2       26.0
Lotus Europa        30.4
Ford Pantera L      15.8
Ferrari Dino        19.7
Maserati Bora       15.0
Volvo 142E          21.4

In [37]:
head(mtcars[c('mpg','cyl')])

                  mpg  cyl
Mazda RX4         21.0 6
Mazda RX4 Wag     21.0 6
Datsun 710        22.8 4
Hornet 4 Drive    21.4 6
Hornet Sportabout 18.7 8
Valiant           18.1 6

In [38]:
df3 <- data.frame(col.name.1 = 2000, col.name.2 = 3000)

In [39]:
df3

  col.name.1 col.name.2
1 2000       3000

In [40]:
dfnew <- rbind(df,df3)

Warning message in `[<-.factor`(`*tmp*`, ri, value = 3000):
“invalid factor level, NA generated”

In [41]:
dfnew

   col.name.1 col.name.2
1     1       a
2   777       b
3     3       c
4     4       d
5     5       e
6     6       f
7     7       g
8     8       h
9     9       i
10   10       j
11 2000       NA

In [42]:
df3 <- data.frame(col.name.1 = 2000, col.name.2 = 'new')

In [43]:
df3

  col.name.1 col.name.2
1 2000       new

In [44]:
dfnew <- rbind(df,df3)

In [45]:
dfnew

   col.name.1 col.name.2
1     1       a
2   777       b
3     3       c
4     4       d
5     5       e
6     6       f
7     7       g
8     8       h
9     9       i
10   10       j
11 2000       new

In [46]:
df$newcol <- 2*df$col.name.1

In [47]:
df

   col.name.1 col.name.2 newcol
1    1        a             2
2  777        b          1554
3    3        c             6
4    4        d             8
5    5        e            10
6    6        f            12
7    7        g            14
8    8        h            16
9    9        i            18
10  10        j            20

In [48]:
df$newcol.copy <- df$newcol

In [49]:
df

   col.name.1 col.name.2 newcol newcol.copy
1    1        a             2      2
2  777        b          1554   1554
3    3        c             6      6
4    4        d             8      8
5    5        e            10     10
6    6        f            12     12
7    7        g            14     14
8    8        h            16     16
9    9        i            18     18
10  10        j            20     20

In [50]:
df[,'newcol.copy2'] <- df$newcol

In [51]:
df

   col.name.1 col.name.2 newcol newcol.copy newcol.copy2
1    1        a             2      2           2
2  777        b          1554   1554        1554
3    3        c             6      6           6
4    4        d             8      8           8
5    5        e            10     10          10
6    6        f            12     12          12
7    7        g            14     14          14
8    8        h            16     16          16
9    9        i            18     18          18
10  10        j            20     20          20

In [52]:
colnames(df)

[1] "col.name.1"   "col.name.2"   "newcol"       "newcol.copy"  "newcol.copy2"

In [53]:
colnames(df) <- c(1,2,3,4,5)

In [54]:
df

   1   2 3    4    5
1    1 a    2    2    2
2  777 b 1554 1554 1554
3    3 c    6    6    6
4    4 d    8    8    8
5    5 e   10   10   10
6    6 f   12   12   12
7    7 g   14   14   14
8    8 h   16   16   16
9    9 i   18   18   18
10  10 j   20   20   20

In [57]:
colnames(df)[1] <- 'New COL'

In [58]:
df

   New COL 2 3    4    5
1    1     a    2    2    2
2  777     b 1554 1554 1554
3    3     c    6    6    6
4    4     d    8    8    8
5    5     e   10   10   10
6    6     f   12   12   12
7    7     g   14   14   14
8    8     h   16   16   16
9    9     i   18   18   18
10  10     j   20   20   20

In [60]:
df[1:3,]

  New COL 2 3    4    5
1   1     a    2    2    2
2 777     b 1554 1554 1554
3   3     c    6    6    6

In [62]:
head(df,7)

  New COL 2 3    4    5
1   1     a    2    2    2
2 777     b 1554 1554 1554
3   3     c    6    6    6
4   4     d    8    8    8
5   5     e   10   10   10
6   6     f   12   12   12
7   7     g   14   14   14

In [64]:
df[-2,] # Select everything except 2 row

   New COL 2 3  4  5
1   1      a  2  2  2
3   3      c  6  6  6
4   4      d  8  8  8
5   5      e 10 10 10
6   6      f 12 12 12
7   7      g 14 14 14
8   8      h 16 16 16
9   9      i 18 18 18
10 10      j 20 20 20

In [65]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [67]:
mtcars[ mtcars$mpg > 20]

ERROR: Error in `[.data.frame`(mtcars, mtcars$mpg > 20): undefined columns selected

In [66]:
mtcars[ mtcars$mpg > 20 ,]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [68]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [69]:
mtcars[ mtcars$mpg >20 & mtcars$cyl == 6,]

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

In [70]:
mtcars[ mtcars$mpg >20 & mtcars$cyl == 6, c('mpg','cyl','hp')]

               mpg  cyl hp
Mazda RX4      21.0 6   110
Mazda RX4 Wag  21.0 6   110
Hornet 4 Drive 21.4 6   110

In [71]:
subset(mtcars, mpg >20 & cyl ==6)

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

In [72]:
mtcars[,c(1,2,3)]

                    mpg  cyl disp
Mazda RX4           21.0 6   160.0
Mazda RX4 Wag       21.0 6   160.0
Datsun 710          22.8 4   108.0
Hornet 4 Drive      21.4 6   258.0
Hornet Sportabout   18.7 8   360.0
Valiant             18.1 6   225.0
Duster 360          14.3 8   360.0
Merc 240D           24.4 4   146.7
Merc 230            22.8 4   140.8
Merc 280            19.2 6   167.6
Merc 280C           17.8 6   167.6
Merc 450SE          16.4 8   275.8
Merc 450SL          17.3 8   275.8
Merc 450SLC         15.2 8   275.8
Cadillac Fleetwood  10.4 8   472.0
Lincoln Continental 10.4 8   460.0
Chrysler Imperial   14.7 8   440.0
Fiat 128            32.4 4    78.7
Honda Civic         30.4 4    75.7
Toyota Corolla      33.9 4    71.1
Toyota Corona       21.5 4   120.1
Dodge Challenger    15.5 8   318.0
AMC Javelin         15.2 8   304.0
Camaro Z28          13.3 8   350.0
Pontiac Firebird    19.2 8   400.0
Fiat X1-9           27.3 4    79.0
Porsche 914-2       26.0 4   120.3
Lotus Europa        30.4 4    95.1
Ford Pantera L      15.8 8   351.0
Ferrari Dino        19.7 6   145.0
Maserati Bora       15.0 8   301.0
Volvo 142E          21.4 4   121.0

In [73]:
is.na(mtcars)

                    mpg   cyl   disp  hp    drat  wt    qsec  vs    am    gear
Mazda RX4           FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Mazda RX4 Wag       FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Datsun 710          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Hornet 4 Drive      FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Hornet Sportabout   FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Valiant             FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Duster 360          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 240D           FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 230            FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 280            FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 280C           FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 450SE          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 450SL          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Merc 450SLC         FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Cadillac Fleetwood  FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Lincoln Continental FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Chrysler Imperial   FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Fiat 128            FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Honda Civic         FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Toyota Corolla      FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Toyota Corona       FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Dodge Challenger    FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
AMC Javelin         FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Camaro Z28          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Pontiac Firebird    FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Fiat X1-9           FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Porsche 914-2       FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Lotus Europa        FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Ford Pantera L      FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Ferrari Dino        FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Maserati Bora       FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
Volvo 142E          FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
                    carb
Mazda RX4           FALSE
Mazda RX4 Wag       FALSE
Datsun 710          FALSE
Hornet 4 Drive      FALSE
Hornet Sportabout   FALSE
Valiant             FALSE
Duster 360          FALSE
Merc 240D           FALSE
Merc 230            FALSE
Merc 280            FALSE
Merc 280C           FALSE
Merc 450SE          FALSE
Merc 450SL          FALSE
Merc 450SLC         FALSE
Cadillac Fleetwood  FALSE
Lincoln Continental FALSE
Chrysler Imperial   FALSE
Fiat 128            FALSE
Honda Civic         FALSE
Toyota Corolla      FALSE
Toyota Corona       FALSE
Dodge Challenger    FALSE
AMC Javelin         FALSE
Camaro Z28          FALSE
Pontiac Firebird    FALSE
Fiat X1-9           FALSE
Porsche 914-2       FALSE
Lotus Europa        FALSE
Ford Pantera L      FALSE
Ferrari Dino        FALSE
Maserati Bora       FALSE
Volvo 142E          FALSE

In [76]:
any(is.na(mtcars))

[1] FALSE

In [77]:
any(is.na(mtcars$mpg))

[1] FALSE

In [78]:
df[is.na(df)] <- 0

In [79]:
mtcars$mpg

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [80]:
mtcars$mpg[is.na(mtcars$mpg)] <- mean(mtcars$mpg)