In [1]:
write.csv(mtcars,file='my_example.csv')

In [2]:
ex <- read.csv('my_example.csv')

In [3]:
ex

   X                   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [4]:
class(ex)

[1] "data.frame"

In [5]:
help('read.csv2')

In [6]:
install.packages("readxl")    # Install package

also installing the dependencies ‘rematch’, ‘lazyeval’, ‘cellranger’, ‘tibble’

The downloaded binary packages are in
	/var/folders/py/lhhb009s773f7xlgffm6ysjw0000gn/T//Rtmp4BsP5O/downloaded_packages

In [7]:
library(readxl)

In [8]:
excel_sheets('Data//Sample-Sales-Data.xlsx')

[1] "Sheet1"

In [9]:
df <- read_excel('Data//Sample-Sales-Data.xlsx',sheet = 'Sheet1')

In [11]:
head(df)

  Postcode Sales_Rep_ID Sales_Rep_Name Year Value
1 2121     456          Jane           2011 84219.50
2 2092     789          Ashish         2012 28322.19
3 2128     456          Jane           2013 81879.00
4 2073     123          John           2011 44491.14
5 2134     789          Ashish         2012 71837.72
6 2162     123          John           2013 64531.55

In [12]:
class(df)

[1] "tbl_df"     "tbl"        "data.frame"

In [13]:
sum(df$Value)

[1] 19199461

In [14]:
summary(df)

   Postcode          Sales_Rep_ID Sales_Rep_Name          Year
 Length:390         Min.   :123   Length:390         Min.   :2011
 Class :character   1st Qu.:123   Class :character   1st Qu.:2011
 Mode  :character   Median :456   Mode  :character   Median :2012
                    Mean   :456                      Mean   :2012
                    3rd Qu.:789                      3rd Qu.:2013
                    Max.   :789                      Max.   :2013
     Value
 Min.   :  106.4
 1st Qu.:26101.5
 Median :47447.4
 Mean   :49229.4
 3rd Qu.:72277.8
 Max.   :99878.5

In [15]:
# lapply > iterate all the items
entireExcel <- lapply(excel_sheets('Data//Sample-Sales-Data.xlsx'),read_excel,path = 'Data//Sample-Sales-Data.xlsx')

In [16]:
entireExcel

[[1]]
# A tibble: 390 × 5
   Postcode Sales_Rep_ID Sales_Rep_Name  Year    Value
      <chr>        <dbl>          <chr> <dbl>    <dbl>
1      2121          456           Jane  2011 84219.50
2      2092          789         Ashish  2012 28322.19
3      2128          456           Jane  2013 81879.00
4      2073          123           John  2011 44491.14
5      2134          789         Ashish  2012 71837.72
6      2162          123           John  2013 64531.55
7      2093          456           Jane  2011 58962.64
8      2042          789         Ashish  2012 27521.79
9      2198          123           John  2013 77985.13
10     2043          789         Ashish  2011 49546.12
# ... with 380 more rows

In [17]:
install.packages('xlsx')

also installing the dependencies ‘rJava’, ‘xlsxjars’

The downloaded binary packages are in
	/var/folders/py/lhhb009s773f7xlgffm6ysjw0000gn/T//Rtmp4BsP5O/downloaded_packages

In [18]:
library(xlsx)

Loading required package: rJava
Loading required package: xlsxjars

In [19]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [20]:
write.xlsx(mtcars,"Data//output_example.xlsx")

# SQL

In [21]:
install.packages("RODBC")

Package which is only available in source form, and may need
  compilation of C/C++/Fortran: ‘RODBC’
installing the source package ‘RODBC’

Warning message in install.packages("RODBC"):
“installation of package ‘RODBC’ had non-zero exit status”

In [22]:
library(RODBC)

ERROR: Error in library(RODBC): there is no package called ‘RODBC’

In [23]:
install.packages('rvest')

also installing the dependencies ‘BH’, ‘xml2’, ‘selectr’

The downloaded binary packages are in
	/var/folders/py/lhhb009s773f7xlgffm6ysjw0000gn/T//Rtmp4BsP5O/downloaded_packages

In [24]:
library(rvest)

Loading required package: xml2

In [25]:
demo(package = 'rvest')

In [26]:
demo(package = 'rvest',topic = tripadvisor)

	demo(tripadvisor)
	---- ~~~~~~~~~~~

> # Inspired by
> # http://notesofdabbler.github.io/201408_hotelReview/scrapeTripAdvisor.html
>
> library(rvest)

> url <- "http://www.tripadvisor.com/Hotel_Review-g37209-d1762915-Reviews-JW_Marriott_Indianapolis-Indianapolis_Indiana.html"

> reviews <- url %>%
+   read_html() %>%
+   html_nodes("#REVIEWS .innerBubble")

> id <- reviews %>%
+   html_node(".quote a") %>%
+   html_attr("id")

> quote <- reviews %>%
+   html_node(".quote span") %>%
+   html_text()

> rating <- reviews %>%
+   html_node(".rating .rating_s_fill") %>%
+   html_attr("alt") %>%
+   gsub(" of 5 stars", "", .) %>%
+   as.integer()

> date <- reviews %>%
+   html_node(".rating .ratingDate") %>%
+   html_attr("title") %>%
+   strptime("%b %d, %Y") %>%
+   as.POSIXct()

> review <- reviews %>%
+   html_node(".entry .partial_entry") %>%
+   html_text()

> data.frame(id, quote, rating, date, review, stringsAsFactors = FALSE) %>% View()

ERROR: Error in View(.): ‘View()’ not yet supported in the Jupyter R kernel

In [27]:
lego_movie <- read_html("http://www.imdb.com/title/tt1490017/")

In [32]:
rate <-
lego_movie %>% 
  html_node("strong span") %>%
  html_text() %>%
  as.numeric()

In [33]:
rate

[1] 7.8

In [34]:
lego_movie %>%
  html_nodes("#titleCast .itemprop span") %>%
  html_text()

 [1] "Will Arnett"     "Elizabeth Banks" "Craig Berry"     "Alison Brie"
 [5] "David Burrows"   "Anthony Daniels" "Charlie Day"     "Amanda Farinos"
 [9] "Keith Ferguson"  "Will Ferrell"    "Will Forte"      "Dave Franco"
[13] "Morgan Freeman"  "Todd Hansen"     "Jonah Hill"

In [54]:
Cast <-
lego_movie %>%
  html_nodes("#titleCast .cast_list") %>%
  #.[[3]] %>%
  html_table()

ERROR: Error in .[[3]]: subscript out of bounds

In [53]:
Cast

[[1]]
                                  X1                                X2
1  Cast overview, first billed only: Cast overview, first billed only:
2                                                          Will Arnett
3                                                      Elizabeth Banks
4                                                          Craig Berry
5                                                          Alison Brie
6                                                        David Burrows
7                                                      Anthony Daniels
8                                                          Charlie Day
9                                                       Amanda Farinos
10                                                      Keith Ferguson
11                                                        Will Ferrell
12                                                          Will Forte
13                                                         Dave Franco
14                                                      Morgan Freeman
15                                                         Todd Hansen
16                                                          Jonah Hill
                                  X3
1  Cast overview, first billed only:
2                                ...
3                                ...
4                                ...
5                                ...
6                                ...
7                                ...
8                                ...
9                                ...
10                               ...
11                               ...
12                               ...
13                               ...
14                               ...
15                               ...
16                               ...
                                                                                                    X4
1                                                                    Cast overview, first billed only:
2                                              Batman /  \n            Bruce Wayne \n  \n  \n  (voice)
3                                                  Wyldstyle /  \n            Lucy \n  \n  \n  (voice)
4                                         Blake /  \n            Additional Voices \n  \n  \n  (voice)
5                                                                         Unikitty \n  \n  \n  (voice)
6                                   Octan Robot /  \n            Additional Voices \n  \n  \n  (voice)
7                                                                            C-3PO \n  \n  \n  (voice)
8                                                                            Benny \n  \n  \n  (voice)
9                                                                              Mom \n  \n  \n  (voice)
10                                                                        Han Solo \n  \n  \n  (voice)
11 Lord Business (voice) /  \n            President Business (voice) /  \n            The Man Upstairs
12                                              Abraham Lincoln \n  \n  \n  (voice) (as Orville Forte)
13                                                                           Wally \n  \n  \n  (voice)
14                                                                       Vitruvius \n  \n  \n  (voice)
15                                      Gandalf /  \n            Additional Voices \n  \n  \n  (voice)
16                                                                   Green Lantern \n  \n  \n  (voice)