In [1]:
x <- 10

In [2]:
x < 20

[1] TRUE

In [3]:
x > 5

[1] TRUE

In [4]:
x <20 & x > 5

[1] TRUE

In [5]:
(x<20) & (x > 5)

[1] TRUE

In [6]:
x==9

[1] FALSE

In [7]:
!x==9

[1] TRUE

In [8]:
df <- mtcars

In [9]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [13]:
df[df$mpg>20,]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [14]:
df[df$mpg>20,'mpg']

 [1] 21.0 21.0 22.8 21.4 24.4 22.8 32.4 30.4 33.9 21.5 27.3 26.0 30.4 21.4

In [15]:
subset(df, mpg >20)

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [16]:
df[ (df$mpg >20) & (df$hp > 100),]

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2