In [1]:
seq(0,10,by=2)

[1]  0  2  4  6  8 10

In [3]:
0:10

 [1]  0  1  2  3  4  5  6  7  8  9 10

In [4]:
v <- c(1,4,7,10,13)

In [5]:
v

[1]  1  4  7 10 13

In [6]:
sort(v)

[1]  1  4  7 10 13

In [7]:
sort(v,decreasing = TRUE)

[1] 13 10  7  4  1

In [8]:
cv <- c('b','d','a')

In [9]:
sort(cv)

[1] "a" "b" "d"

In [10]:
sort(cv, decreasing = TRUE)

[1] "d" "b" "a"

In [11]:
v

[1]  1  4  7 10 13

In [12]:
rev(v)

[1] 13 10  7  4  1

In [13]:
str(v)

 num [1:5] 1 4 7 10 13

In [14]:
str(mtcars)

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [15]:
v2 <- c(1,2,3,4,5)

In [16]:
v

[1]  1  4  7 10 13

In [17]:
v2

[1] 1 2 3 4 5

In [18]:
append(v,v2)

 [1]  1  4  7 10 13  1  2  3  4  5

In [19]:
sort(append(v,v2))

 [1]  1  1  2  3  4  4  5  7 10 13

In [21]:
is.vector(v)

[1] TRUE

In [22]:
is.list(v)

[1] FALSE

In [23]:
as.list(v)

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 7

[[4]]
[1] 10

[[5]]
[1] 13

In [24]:
as.matrix(v)

     [,1]
[1,]  1
[2,]  4
[3,]  7
[4,] 10
[5,] 13