In [1]:
install.packages('dplyr')

also installing the dependencies ‘assertthat’, ‘DBI’

The downloaded binary packages are in
	/var/folders/py/lhhb009s773f7xlgffm6ysjw0000gn/T//RtmpmsjMiQ/downloaded_packages

In [2]:
install.packages('nycflights13',repos = 'http://cran.us.r-project.org')

The downloaded binary packages are in
	/var/folders/py/lhhb009s773f7xlgffm6ysjw0000gn/T//RtmpmsjMiQ/downloaded_packages

In [3]:
library(nycflights13)

In [6]:
library(dplyr)  #rewrite the orginal R function

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [5]:
summary(flights)

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute        time_hour
 Min.   : 0.00   Min.   :2013-01-01 05:00:00
 1st Qu.: 8.00   1st Qu.:2013-04-04 13:00:00
 Median :29.00   Median :2013-07-03 10:00:00
 Mean   :26.23   Mean   :2013-07-03 05:02:36
 3rd Qu.:44.00   3rd Qu.:2013-10-01 07:00:00
 Max.   :59.00   Max.   :2013-12-31 23:00:00

In [7]:
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [10]:
head(filter(flights, month == 11, day==3, carrier == "AA"))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    3   538      545            -7        824      855
2 2013 11    3   556      600            -4        900      905
3 2013 11    3   604      610            -6        844      855
4 2013 11    3   624      629            -5        907      929
5 2013 11    3   625      630            -5        736      805
6 2013 11    3   653      655            -2        925      920
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -31       AA      2243   N5DWAA  JFK    MIA  144      1089     5    45
2  -5       AA      1175   N3CSAA  LGA    MIA  148      1096     6     0
3 -11       AA      1103   N3KDAA  LGA    DFW  192      1389     6    10
4 -22       AA      1205   N3EJAA  EWR    MIA  141      1085     6    29
5 -29       AA       303   N4WJAA  LGA    ORD  113       733     6    30
6   5       AA      1263   N634AA  JFK    LAS  306      2248     6    55
  time_hour
1 2013-11-03 05:00:00
2 2013-11-03 06:00:00
3 2013-11-03 06:00:00
4 2013-11-03 06:00:00
5 2013-11-03 06:00:00
6 2013-11-03 06:00:00

In [11]:
slice(flights,1:10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1   517      515             2         830      819
2  2013 1     1   533      529             4         850      830
3  2013 1     1   542      540             2         923      850
4  2013 1     1   544      545            -1        1004     1022
5  2013 1     1   554      600            -6         812      837
6  2013 1     1   554      558            -4         740      728
7  2013 1     1   555      600            -5         913      854
8  2013 1     1   557      600            -3         709      723
9  2013 1     1   557      600            -3         838      846
10 2013 1     1   558      600            -2         753      745
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2   20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3   33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4  -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5  -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6   12       UA      1696   N39463  EWR    ORD  150       719     5    58
7   19       B6       507   N516JB  EWR    FLL  158      1065     6     0
8  -14       EV      5708   N829AS  LGA    IAD   53       229     6     0
9   -8       B6        79   N593JB  JFK    MCO  140       944     6     0
10   8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
   time_hour
1  2013-01-01 05:00:00
2  2013-01-01 05:00:00
3  2013-01-01 05:00:00
4  2013-01-01 05:00:00
5  2013-01-01 06:00:00
6  2013-01-01 05:00:00
7  2013-01-01 06:00:00
8  2013-01-01 06:00:00
9  2013-01-01 06:00:00
10 2013-01-01 06:00:00

In [13]:
head(arrange(flights, year, month, day ,arr_time))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   1929     1920             9        3          7
2 2013 1     1   2121     2040            41        6       2323
3 2013 1     1   2058     2100            -2        8       2359
4 2013 1     1   2120     2130           -10       16         18
5 2013 1     1   2134     2045            49       20       2352
6 2013 1     1   2312     2000           192       21       2110
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  -4       UA      1071   N27205  EWR    BQN  192      1585     19   20
2  43       B6       227   N307JB  EWR    MCO  143       937     20   40
3   9       UA      1241   N27724  EWR    TPA  159       997     21    0
4  -2       B6       383   N603JB  LGA    FLL  160      1076     21   30
5  28       UA      1106   N27733  EWR    FLL  152      1065     20   45
6 191       EV      4312   N13958  EWR    DCA   44       199     20    0
  time_hour
1 2013-01-01 19:00:00
2 2013-01-01 20:00:00
3 2013-01-01 21:00:00
4 2013-01-01 21:00:00
5 2013-01-01 20:00:00
6 2013-01-01 20:00:00

In [14]:
head(arrange(flights, year, month, day ,desc(arr_time)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   2209     2155            14       2400     2337
2 2013 1     1   1952     1930            22       2358     2207
3 2013 1     1   2025     2028            -3       2358     2351
4 2013 1     1   2119     1930           109       2358     2136
5 2013 1     1   2052     2045             7       2357     2359
6 2013 1     1   2030     2035            -5       2354     2342
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  23       B6      1109   N216JB  JFK    RDU   86       427     21   55
2  NA       EV      4333   N11194  EWR    TUL   NA      1215     19   30
3   7       UA      1615   N76516  EWR    AUS  248      1504     20   28
4 142       EV      4543   N13123  EWR    DSM  200      1017     19   30
5  -2       B6       147   N535JB  JFK    RSW  163      1074     20   45
6  12       B6       629   N192JB  JFK    HOU  245      1428     20   35
  time_hour
1 2013-01-01 21:00:00
2 2013-01-01 19:00:00
3 2013-01-01 20:00:00
4 2013-01-01 19:00:00
5 2013-01-01 20:00:00
6 2013-01-01 20:00:00

In [15]:
head(select(flights,carrier))

  carrier
1 UA
2 UA
3 AA
4 B6
5 DL
6 UA

In [16]:
head(select(flights,carrier,arr_time))

  carrier arr_time
1 UA       830
2 UA       850
3 AA       923
4 B6      1004
5 DL       812
6 UA       740

In [17]:
# change col name
head(rename(flights, airline_carrier = carrier))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay airline_carrier flight tailnum origin dest air_time distance hour
1  11       UA              1545   N14228  EWR    IAH  227      1400     5
2  20       UA              1714   N24211  LGA    IAH  227      1416     5
3  33       AA              1141   N619AA  JFK    MIA  160      1089     5
4 -18       B6               725   N804JB  JFK    BQN  183      1576     5
5 -25       DL               461   N668DN  LGA    ATL  116       762     6
6  12       UA              1696   N39463  EWR    ORD  150       719     5
  minute time_hour
1 15     2013-01-01 05:00:00
2 29     2013-01-01 05:00:00
3 40     2013-01-01 05:00:00
4 45     2013-01-01 05:00:00
5  0     2013-01-01 06:00:00
6 58     2013-01-01 05:00:00

In [18]:
distinct(select(flights, carrier))

   carrier
1  UA
2  AA
3  B6
4  DL
5  EV
6  MQ
7  US
8  WN
9  VX
10 FL
11 AS
12 9E
13 F9
14 HA
15 YV
16 OO

In [19]:
head(mutate(flights, new_col = arr_delay - dep_delay))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour           new_col
1 2013-01-01 05:00:00   9
2 2013-01-01 05:00:00  16
3 2013-01-01 05:00:00  31
4 2013-01-01 05:00:00 -17
5 2013-01-01 06:00:00 -19
6 2013-01-01 05:00:00  16

In [22]:
head(transmute(flights, new_col = arr_delay - dep_delay))

  new_col
1   9
2  16
3  31
4 -17
5 -19
6  16

In [23]:
summarise(flights, avg_air_time = mean(air_time, na.rm = TRUE))  # Remove na value

  avg_air_time
1 150.6865

In [24]:
summarise(flights, total_air_time = sum(air_time, na.rm = TRUE))  # Remove na value

  total_air_time
1 49326610

In [26]:
sample_n(flights, 10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  2    12  1650     1655            -5       1951     2030
2  2013  2    26  1925     1900            25       2108     2018
3  2013  3    15  1056     1056             0       1325     1341
4  2013 10    19  1603     1608            -5       1725     1742
5  2013  5     4  1452     1500            -8       1618     1645
6  2013 10     9   819      830           -11        944     1007
7  2013  8    22  1417     1330            47       1610     1545
8  2013  7     1  1613     1559            14       1907     1910
9  2013  3    25  2217     2140            37       2334     2305
10 2013  3    22  1232     1200            32       1345     1315
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  -39       VX       413   N837VA  JFK    LAX  334      2475     16   55
2   50       EV      5714   N832AS  JFK    IAD   63       228     19    0
3  -16       UA      1152   N38467  EWR    LAS  304      2227     10   56
4  -17       EV      5293   N710EV  LGA    ORF   56       296     16    8
5  -27       AA       341   N587AA  LGA    ORD  114       733     15    0
6  -23       9E      3579   N601XJ  LGA    IAD   45       229      8   30
7   25       WN      4103   N968WN  EWR    PHX  272      2133     13   30
8   -3       DL      1394   N3772H  JFK    PDX  301      2454     15   59
9   29       B6       104   N292JB  JFK    BUF   55       301     21   40
10  30       MQ      4425   N815MQ  JFK    DCA   53       213     12    0
   time_hour
1  2013-02-12 16:00:00
2  2013-02-26 19:00:00
3  2013-03-15 10:00:00
4  2013-10-19 16:00:00
5  2013-05-04 15:00:00
6  2013-10-09 08:00:00
7  2013-08-22 13:00:00
8  2013-07-01 15:00:00
9  2013-03-25 21:00:00
10 2013-03-22 12:00:00

In [30]:
sample_frac(flights, 0.00001)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     13  2139     2113           26        2338     2307
2 2013 7     17  1909     1915           -6        2133     2205
3 2013 2     14  1732     1730            2        2124     2024
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  31       EV      4700   N14542  EWR    CLT   92       529     21   13
2 -32       AA       791   N3DPAA  LGA    DFW  177      1389     19   15
3  60       B6         9   N552JB  JFK    MCO  176       944     17   30
  time_hour
1 2013-09-13 21:00:00
2 2013-07-17 19:00:00
3 2013-02-14 17:00:00